@media screen and (max-width: 1890px) {
  .contact__list {
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center; }
  .contact__left, .contact__map {
    width: 100%;
    text-align: center; }
  .contact__map {
    margin-left: 0; }
  .contact__left {
    margin-bottom: 20px;
    padding-left: 0; }
  .contact__logo {
    margin: 0 auto; }
  .contact__social {
    justify-content: center; }
  .contact__social_facebook {
    margin-right: 20px; }
  .contact__social_instagram {
    margin-right: 0;
    margin-left: 20px; } }

@media screen and (max-width: 1700px) {
  .partners__owlcarousel::before, .partners__owlcarousel::after {
    width: 300px; } }

@media screen and (max-width: 1600px) {
  .partners__owlcarousel::before, .partners__owlcarousel::after {
    width: 200px; } }

@media screen and (max-width: 1299px) {
  .partners {
    padding: 117px 60px 110px 60px; }
    .partners__owlcarousel::before, .partners__owlcarousel::after {
      width: 200px; } }

@media screen and (max-width: 1230px) {
  .news__list {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .news__item_main {
    margin-bottom: 20px; }
  .news__item_additionally {
    width: 100%; }
  .news__item_additionally__list {
    flex-direction: row; }
  .news__item_additionally__item:not(:first-child) {
    margin-top: 0;
    margin-left: 10px; }
  .news__item_additionally__item:not(:last-child) {
    margin-right: 10px; } }

@media screen and (max-width: 1200px) {
  .rent__item:first-child {
    margin-left: 0; }
  .rent__item:last-child {
    margin-right: 0; } }

@media screen and (max-width: 1180px) {
  .promo__info {
    padding: 0 50px; }
  .rent__list {
    justify-content: space-around;
    flex-direction: column;
    align-items: center; }
  .rent__item:first-child {
    margin-bottom: 20px; } }

@media screen and (max-width: 1170px) {
  .header__logo_wrapper {
    margin-left: 20px; }
  .header__map_btn_wrapper {
    margin-right: 20px; }
  .news__title {
    padding-left: 20px; } }

@media screen and (max-width: 1060px) {
  .header__nav_list {
    margin-left: 30px; }
  .header__social {
    margin-right: 20px; }
  .services__item__info, .services__image_block {
    width: 50%; } }

@media screen and (max-width: 1300px) {
  .gallery__owlcarousel::after, .gallery__owlcarousel::before {
    display: none; } }

@media screen and (max-width: 960px) {
  .main-wrapper {
    background-position: 0 90px; }
  .header__nav, .header__social, .header__map_btn_wrapper {
    display: none; }
  .header__nav_bar, .header__nav__map_btn, .header__nav__social {
    display: block; }
  .header__nav__social {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row; }
  .header__nav {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(1, 151, 164, 0.9);
    padding-top: 100px;
    z-index: 999; }
  .header__nav_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0; }
  .header__nav_item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px; }
  .header__nav_item {
    background: #fff;
    padding: 10px 40px;
    border-radius: 20px; } }

@media screen and (max-width: 850px) {
  .services {
    background: none;
    padding: 100px 0 0 0; }
    .services__item__info, .services__image_block {
      width: 100%;
      text-align: center; }
    .services__item__floor__title::before {
      left: 45%; }
    .services__list {
      justify-content: center;
      flex-direction: column;
      align-items: center; }
    .services__item {
      flex-direction: column;
      align-items: center; }
    .services__item:nth-child(2) {
      margin-top: 100px; }
    .services__item:first-child {
      padding-left: 0; }
    .services__item:first-child .services__image_block {
      margin-left: 0; }
    .services__item:first-child .services__image_block, .services__item:last-child .services__image_block {
      margin-top: 10px; }
    .services__item__text {
      padding-right: 0; }
    .services__item:nth-child(2) .services__image_block {
      order: 2; }
    .services__item:last-child .services__item__title::before, .services__item:first-child .services__item__title::before {
      display: none; }
  .partners {
    padding: 117px 60px 110px 60px; }
    .partners__owlcarousel::before, .partners__owlcarousel::after {
      width: 150px; }
  .about__item {
    width: 50%; }
  .about__item:nth-child(n+4) {
    margin-top: 0; }
  .about__item:not(:nth-child(n+5)) {
    margin-bottom: 100px; } }

@media screen and (max-width: 830px) {
  .news__item_main {
    width: 100%;
    position: relative; }
  .news__item_main__image {
    max-width: 100%; } }

@media screen and (max-width: 760px) {
  .main-wrapper {
    background-position: 0 70px; }
  .header {
    padding: 20px 0 20px; }
  .promo {
    padding: 150px 0 100px; }
    .promo__title {
      font-size: 44px; }
    .promo__text {
      font-size: 18px;
      margin-bottom: 70px; }
  .about {
    padding: 100px 0 100px;
    background: url(../image/responsive-about-bg.png) center top/cover no-repeat; }
  .services {
    padding-top: 50px; }
  .news {
    padding-bottom: 50px; }
  .gallery {
    padding: 80px 0 0 0; }
  .contact {
    padding: 150px 0 60px 0; } }

@media screen and (max-width: 720px) {
  .services__item__floor__title::before {
    left: 43%; } }

@media screen and (max-width: 660px) {
  .about__item {
    width: 100%; }
  .about__item:not(:last-child) {
    margin-bottom: 80px; }
  .services__item:last-child {
    margin-top: 50px; }
  .partners {
    padding: 80px 30px; }
    .partners__owlcarousel::before, .partners__owlcarousel::after {
      width: 100px; }
  .news__item_additionally__list {
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .news__item_additionally__item:not(:first-child) {
    margin-top: 20px;
    margin-left: 0; }
  .news__item_additionally__item:not(:last-child) {
    margin-right: 0; }
  .partners::after {
    content: "";
    bottom: 110px; } }

@media screen and (max-width: 610px) {
  .rent__head {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box; }
  .rent__list {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px; }
  .rent__item {
    flex-direction: column;
    align-items: center; }
  .rent__item {
    width: 315px; }
  .rent__item:first-child .rent__info {
    background: none; }
  .rent__item:first-child {
    background: linear-gradient(180deg, #007F8B 0%, #4DB6BF 100%); }
  .rent__info {
    width: 100%; }
  .rent__item:first-child .rent__info__title, .rent__info__text, .rent__item:last-child .rent__info__title {
    margin-bottom: 40px; } }

@media screen and (max-width: 550px) {
  .partners {
    padding: 80px 30px; }
    .partners__owlcarousel::before, .partners__owlcarousel::after {
      display: none; }
  .news__item_main__info_overlay {
    top: 50px;
    left: 50px;
    right: 50px;
    transform: translate(0, 0); }
  .news__item_main__title {
    font-size: 25px;
    margin-bottom: 15px; }
  .news__item_main__text {
    padding: 0; } }

@media screen and (max-width: 500px) {
  .promo {
    padding: 150px 0 100px; }
    .promo__info {
      padding: 0 20px; }
    .promo__title {
      font-size: 34px; }
    .promo__text {
      font-size: 16px;
      margin-bottom: 50px; }
  .services__item__floor__title::before {
    left: 40%; }
  .services__list {
    padding: 0 10px; }
  .partners__owlcarousel {
    margin: 10px 0 20px 0; } }

@media screen and (max-width: 450px) {
  .news__item_main__info_overlay {
    top: 40px;
    left: 50px;
    right: 50px;
    transform: translate(0, 0); }
  .news__item_main__title {
    font-size: 25px;
    margin-bottom: 0; }
  .news__item_main__text {
    padding: 0; } }

@media screen and (max-width: 400px) {
  .promo__title {
    font-size: 25px; }
  .promo__link {
    font-size: 18px;
    padding: 10px 40px; }
  .news__item_main__info_overlay {
    top: 40px;
    left: 50px;
    right: 50px;
    transform: translate(0, 0); }
  .news__item_main__title {
    font-size: 19px;
    line-height: 20px;
    margin-bottom: 0; }
  .news__item_main__text {
    padding: 0;
    font-size: 15px; }
  .contact__info_wrapper {
    margin-bottom: 20px; }
  .contact__info {
    line-height: 30px;
    font-size: 20px; } }

@media screen and (max-width: 375px) {
  .services__item__title {
    font-size: 20px;
    margin-bottom: 15px; }
  .services__item__image {
    width: 100%; }
  .partners__link {
    font-size: 20px;
    padding: 10px 50px; }
  .partners__link::before {
    top: 20px; }
  .news__item_main__views_wrapper {
    position: absolute;
    top: 15px;
    left: 15px; }
  .rent__item {
    width: 100%; } }

@media screen and (max-width: 330px) {
  .news__item_main__info_overlay {
    top: 20px; }
  .news__item_main__views_wrapper {
    position: absolute;
    top: 5px;
    left: 5px; } }

/*# sourceMappingURL=responsive.css.map */
